.App {
  text-align: center;
  border: 4px solid;
  border-color: #F8BBD0 #90CAF9 #90CAF9 #F8BBD0 ;
  top: 5%;
  width: 60%;
  padding: 30px 20px;
  border-radius: 5px;
  margin: auto;
  font-family: 'Patrick Hand', cursive; 
}

@media only screen and (max-width: 600px) {
  .App {
    width: 80%;
  }
}

@media only screen and (max-width: 400px) {
  .App {
    width: 75%;
  }
}

.search-input{
  margin: 10px 20px ;
  padding: 10px 10px;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 15px;
  color: #61dafb pink;
  border-color: #F8BBD0 #90CAF9 #90CAF9 #F8BBD0 ;
}

.baby-icons{
  display: flex;
  flex-direction: row;
  margin: 0 15px;
  align-items: center
}

.boy-girl-icon{
  padding-left: 13px;
}

.allBabyNames{
  margin: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
}

.favorites{
  display: flex;
  flex-wrap: wrap;
}

hr {
  background-color: rgb(0, 195, 255) ;
  border: none;
  display: block;
  height: 2px;
  overflow: visible;
  position: relative;
  width: 100%;
}

hr:before {
  background-color:#F8BBD0 ;
  content: '';
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  top: -2px;
  width: 100%;
  z-index: 1;
}

span{
  font-family: 'Patrick Hand', cursive;
  font-size: 30px;
  text-shadow: royalblue;
  margin-right: 10px;
  font-family: 'Sriracha', cursive;
  line-height: 30px;
}

.f/*female*/{
  background-color: #F8BBD0;
  width: fit-content;
  border-radius: 5px;
  padding: 2px;
  color: #C2185B;
  font-weight: bolder;
  margin: 5px;
  font-size: 19px;
  padding: 2px 8px;
  cursor: -webkit-grab; 
  cursor: grab;
}

.m/*male*/{
  background-color: #90CAF9;
  width: fit-content;
  border-radius: 5px;
  padding: 2px;
  color: #0D47A1;
  font-weight: bolder;
  margin: 5px;
  font-size: 19px;
  padding: 2px 8px; 
  cursor: -webkit-grab; 
  cursor: grab;
}

.line{
  border-bottom: 2px solid rgb(189, 183, 183);
  border-radius: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.nav-bar{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  flex-wrap: wrap;
  align-items: center;
}